
@use './colors';
@import './base.css';


#app {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: colors.$color-background;
}

.main-container {
    background: linear-gradient(180deg, colors.$color-background 0%, colors.$color-background 75%, rgba(colors.$color-primary, 0.1) 95%, rgba(colors.$color-primary, 0.2) 100%)
}


.pi-fileupload {
    height: 100%;
    border: 1px solid green;
}